
.add-plant-form-div {
    background-image: url(./images/fittonia.jpg);
    background-size: contain;
    padding: 40px;
}

.add-plant-form {
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 10px;
    padding: 30px;
}

input {
    border-radius: 5px;
    padding: 5px;
    margin: 15px;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 15px;
}

.label {
    text-align: top;
    font-weight: bold;
    font-size: 20px;
}

textarea { 
    resize: none;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    height: 150px;
    margin: 10px;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 15px;
}

select {
    margin: 5px;
    font-size: 15px;
    font-family: 'Nanum Myeongjo', serif;
}

.foot-note {
    margin-top: 10px;
    opacity: .8;
}

.add-plant-dashboard-btn {
    padding: 10px;
    margin-bottom: 10px;
    width: 90px;
    background-color: rgb(230, 238, 223); 
    cursor: pointer;
}

.add-plant-btn {
    padding: 10px;
    margin-bottom: 10px;
    width: 30%;
    background-color: rgb(230, 238, 223); 
    cursor: pointer;
}

.image-uploader {
    width: 40%;
    align-self: center;
    
}