
.dashboard {
    /* width: 80%; */
    padding-left: 40px; 
    /* background-image: url(./images/succulents.jpg);     */
    background-size: cover;
}

.user-name-icon {
    margin-top: 0;
    color:rgb(255, 255, 255);
    font-size: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
    letter-spacing: 7px;
    padding-top: 20px;
    padding-left: 10px;
    border-radius: 10px;
}

.user-dashboard-icon {
    width: 80px;
    border: 1px solid rgba(0, 0, 0, 0.473);
    border-radius: 40px;
    background-color: rgb(171, 187, 171);
}

.dashboard-btn-div-top { 
    width: auto;
    margin-left: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
}

.dashboard-btn { 
    margin-right: 20px;
    padding: 10px;
    width: auto;
    background-color: rgb(230, 238, 223);
    border: 1px solid black; 
    cursor: pointer;
}

.plant-container {
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    max-width: 756px;
    background-color: rgba(255, 255, 255, 0.521);
    @media (max-width: 853px) {
        max-width: 600px;
    }
}

.h-plant-collection {
    text-shadow: 3px 5px 5px rgb(255, 255, 255);
    letter-spacing: 5px;
    color: black;
}

.card-container {
    display: inline-flex;
}

.plant-card-dashboard {
    display: grid; 
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    /* justify-items: center; */
    padding: 15px;
    margin: 10px;
    width: 200px;
    background-color: white;
}


.plant-name {
    font-size: 15px;
    letter-spacing: 2px;
}

.card-common-name {
    cursor: pointer;
    color: rgb(92, 121, 92);
    font-size: 20px;
    padding-right: 20px;
    flex: 1 1 auto;
}

.plant-image-dashboard {
    width: 200px;
    height: 200px;
    position: relative;
    object-position: center;
    object-fit: fill;
    border-radius: 15px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dashboard-btn-div-bottom { 
    margin-left: 20px;
    width: 60%;
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-start;
}

















