
#adore-btn-p {
    justify-content: center;
    font-size: 13px;
}

.dashboard-btn-top {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 90px;
    background-color: rgb(230, 238, 223); 
    cursor: pointer;
    border: 1px solid black;
}

.adore-btn { 
    padding: 10px;
    margin-bottom: 10px;
    width: 90px;
    background-color: rgb(230, 238, 223); 
    cursor: pointer;
    border: 1px solid black;
}

.unadore-btn {
    padding: 10px;
    width: 90px;
    background-color: rgb(255, 248, 230); 
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid black;
}

.adoring-p {
    color:rgb(92, 121, 92);
}

.comment-count {
    margin-top: 20px;
    color:rgb(92, 121, 92);
}

.tended-by {
    color:rgb(92, 121, 92);
    padding-left: 25px;
    padding-top: 10px;
}


.big-feed-div {
    width: 100%;
    background-image: url(./images/greenhouse.jpg);
    background-size: contain;
}

.feed-div {
    padding-top: 30px;
}

.feed-container {
    display: grid;
    grid-template-rows: auto;
    width: 700px;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.521);
    border-radius: 10px;
}

.card-common-name {
    cursor: pointer;
    color:rgb(92, 121, 92);
    font-size: 20px;
    padding-right: 20px;
    flex: 1 1 auto;
}

.plant-card-feed {
    display: flex; 
    justify-self: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    justify-items: center;
    padding: 15px;
    margin: 10px;
    padding-bottom: 30px;
    width: 500px;
    background-color: white;
    height: 250px;
}

.card-inner-div {
    display: flex;
    width: 100%;
}

.card-image-name {
    display: column;
    align-items: center; 
    justify-content: center;
}

.plant-image-feed {
    flex-basis: 40%;
    width: 230px;
    height: 230px;
    object-fit: fill;
    border-radius: 15px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-headline-feed{
    margin: 0;
}
.plant-data-feed {
    padding-left: 30px;
    flex: 1 1 auto;
    top: 10%; 
    left: 10%; 
    font-size: 1.2vw;
}
.card-top-feed {
    display: flex;
}

.user-feed-icon {
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.473);
    border-radius: 30px;
    padding: 3px;
    background-color: rgb(171, 187, 171);
}
.footer-btn{
    margin-left: auto; 
    margin-right: auto;
    padding: 10px;
    width: -webkit-fill-available;
    background-color: rgb(230, 238, 223); 
    cursor: pointer;
    border: 1px solid black;
}