
.home-div{
    height: auto;
    padding: 40px;
    display: flex;
    /* background-image: url(./images/plants.jpg); */
    background-size: cover; 
}

.registration-div {
    flex: 1;
    margin-right: 20px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.521);
}

.h-reg {
    margin-left: 20%; 
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.829);
}

.reg-form {
    padding-left: 20%;
}

.register-btn{
    margin-left: 25%;
    padding: 10px;
    width: 80px;
    background-color: rgb(230, 238, 223);
    border: 1px solid black;
    cursor: pointer;
}

.login-div {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.521);
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.h-login {
    margin-left: 10%; 
    margin-bottom: 70px;
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.829);
}

.login-btn {
    margin-top: 20px;
    margin-left: 23%;
    padding: 10px;
    width: 80px;
    background-color: rgb(230, 238, 223);
    border: 1px solid black; 
    cursor: pointer;
}

.label {
    text-align: top;
    font-weight: bold;
    font-size: 20px;
}

.input {
    border-radius: 5px;
    padding: 5px;
    margin: 15px;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 15px;
}










