

/* html {
    width: 90%;
    height: 100vh;
} */

/* ================GENERAL======================== */
.app {
    display: grid;
    background-color: rgb(236, 236, 236);
    height: 1000px;
    width: 110%;
    padding-top: 20px;
}

header {
    height: 80px;
    width: 100%;
    background-color:rgb(171, 187, 171);
    text-align: center;
}

footer {
    height: 100px;
    width: 100%;
    background-color:rgb(171, 187, 171);
}

.home-div{
    padding-top: 10px;
}

h1 {
    width: 100%;
}

p {
    margin: 0;
    font-size: 13px;
}

button { 
    background-color: white; 
    border: 1px solid rgb(171, 187, 171);
    border-radius: 7px;
    color: black; 
    cursor: pointer;
}

.snail {
    margin-right: auto;
    margin-left: auto;
    margin-top: 12px;
    display: block;
    width: 150px;
    opacity: 0.70;
}


/* =================GREENHOUSE================== */
#adore-btn-p {
    justify-content: center;
    font-size: 14px;
}

.adore-btn-div {
    margin-left: auto;
    justify-content: center;
    width: 100%;
    padding-top: 8px;
}

.adore-btn { 
    padding: 10px;
    width: 80px;
    background-color: rgb(230, 238, 223); 
    cursor: pointer;
}

.unadore-btn {
    padding: 10px;
    width: 80px;
    background-color: rgb(255, 248, 230); 
    cursor: pointer;
}

/* in the feed */
#dashboard-btn {
    display: block;
    width: 200px;
    cursor: pointer;
}

.big-feed-div {
    width: 100%;
}

.feed-div {
    padding-left: 40px;
}

.feed-container {
    display: grid;
    grid-template-rows: auto;
    overflow-y: auto;
    width: 1000px;
    height: 600px;
    margin-bottom: 30px;
}

.plant-card-feed {
    display: flex; 
    justify-self: center;
    border: 1px solid rgb(171, 187, 171);
    border-radius: 10px;
    justify-items: center;
    padding: 15px;
    margin: 10px;
    padding-bottom: 30px;
    width: 700px;
    background-color: white;
    height: 250px;
}
.card-inner-div {
    display: flex;
}
.card-image-name {
    display: column;
    align-items: center; 
    justify-content: center;
}

.plant-image-feed {
    flex-basis: 40%;
    width: 230px;
    height: 230px;
    object-fit: fill;
    border-radius: 15px;
    border: 2px solid rgb(171, 187, 171);
}
.card-headline-feed{
    margin: 0;
}
.plant-data-feed {
    padding-left: 30px;
    float: right; 
    top: 10%; 
    left: 10%; 
    font-size: 1.2vw;
}

.user-feed-icon {
    width: 50px;
    border: 1px solid rgb(171, 187, 171);
    border-radius: 30px;
    padding: 3px;
    background-color: rgb(171, 187, 171);
}
/* =====================DASHBOARD======================= */

.dashboard {
    width: 80%;
    padding-left: 40px; 
}
.dashboard-btn-div-top { 
    width: 60%;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.dashboard-btn-div-bottom { 
    width: 60%;
    padding-top: 5px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.dashboard-btn { 
    padding: 10px;
    width: 90%;
    background-color: rgb(230, 238, 223);
    cursor: pointer;
 
}
.plant-container {
    display: flex;
    border: 1px solid white;
    padding: 20px;
    margin: 20px;
}

.plant-card-dashboard {
    display: grid; 
    border: 1px solid rgb(171, 187, 171);
    border-radius: 10px;
    justify-items: center;
    padding: 15px;
    margin: 10px;
    width: 200px;
    background-color: white;
}
.plant-image-dashboard {
    width: 200px;
    height: 200px;
    position: relative;
    object-position: center;
    object-fit: fill;
    border-radius: 15px;
    border: 2px solid rgb(171, 187, 171);
}
.user-dashboard-icon {
    width: 80px;
    border: 1px solid rgb(171, 187, 171); 
    border-radius: 40px;
    background-color: rgb(171, 187, 171);
}

.delete-btn {
    /* padding: 10px; */
    width: 30%;
    background-color: rgb(230, 238, 223);
    cursor: pointer;
}



